html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
}

body{
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 3.8rem;
  color: #fff;
}
h2 {
  font-size: 2.8rem;
  color: #fff;
}
h3 {
  font-size: 1.8rem;
  color: #fff;

}
h1,h2,h3 {
  text-align: center;
}

.titulo span {
  font-size: 2rem;
}

.w-sm-100 {
  width: 100%;
}

@media (min-width: 768px) {
  .w-sm-100 {
      width: auto;
  }
}

.flex {
  display: flex;
}
.alinear-derecha {
  justify-content: flex-end;
}

.nav-bg {
  background-color: var(--secundario);
}
.navegacion-principal {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navegacion-principal {
      flex-direction: row;
      justify-content: space-between;
  }
}

.navegacion-principal a {
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}
.navegacion-principal a:hover {
  background-color: rgb(0, 123, 255);
  color: #fff;
}

.typed{
font-weight: bolder;
color: rgb(0, 123, 255);
}

header{
  align-items: center;
    font-weight: bolder;
    font-size: 30px;
}


.img {
  /* IMPORTANTE */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.im {
  padding: 10px;
  margin: 10px;
  
  /* IMPORTANTE */
  display: inline-block;
}

@media (min-width: 768px) {
  .img {
      flex-direction: row;
      justify-content: space-between;
  }
  .im {
    flex-direction: row;
    justify-content: space-between;
}
}