html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
}

body{
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 4.8rem;
  color: #fff;
  text-shadow: 7px 4px 5px rgb(47, 230, 199);
}

h2 {
  font-size: 3.8rem;
  color: #fff;
}
h3 {
  font-size: 3.8rem;
  color: #fff;

}
h1,h2,h3 {
  text-align: center;
}

a{
  text-decoration: none;
}

.titulo span {
  font-size: 2rem;
}

.w-sm-100 {
  width: 100%;
}

@media (min-width: 768px) {
  .w-sm-100 {
      width: auto;
  }
}

.flex {
  display: flex;
}
.alinear-derecha {
  justify-content: flex-end;
}

.nav-bg {
  background-color: var(--secundario);
}
.navegacion-principal {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navegacion-principal {
      flex-direction: row;
      justify-content: space-between;
  }
}

.navegacion-principal a {
  display: block;
  text-align: center;
  color: #fff;
  text-shadow: 
    3px 3px 1px rgb(17, 0, 255),
    5px 5px 2px rgb(15, 146, 233),
    8px 8px 3px rgb(6, 69, 99);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.navegacion-principal a:hover {
  background-color: rgb(0, 123, 255);
  color: #fff;
}


.container{
  margin: auto;
  background-color: rebeccapurple;
}
.typed{
font-weight: bolder;
font-size: 4.8rem;
color: rgb(0, 123, 255);
}

.frameworks{
  height: 150px;
  width: 200;
  max-width: max-content;
  margin: 0 auto;
  text-align: center;
}


h4{
  font-size: 3.8rem;
  color: #fff;
}
header{
  align-items: center;
  font-weight: bolder;
  font-size: 30px;
}


.img {
  /* IMPORTANTE */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.im {
  padding: 10px;
  margin: 10px;
  /* IMPORTANTE */
  display: inline-block;
}

@media (min-width: 768px) {
  .img {
      flex-direction: row;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 20px;
  }
  .im {
    flex-direction: row;
    justify-content: space-between;
}
}

footer{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: large;
  text-align: center;
  color: #fff;
}