body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

header{
    text-align: center;
}

a{
    text-decoration: none;
    color: blue;
    margin-left: 15px;
}

section{
    margin-top: 30px;
    margin-left: 30px ;
    margin-right: 30px;
}

footer{
    margin-top: 340px;
    margin-bottom: 10px;
    text-align: center;
}